*{
  margin: 0;
  padding: 0;
  text-align: center;
}


body{
  background-color: purple;
}

h1{
  color: chartreuse;
  background-color: #081b31;
  height: 5rem;
  line-height: 5rem;
  border-radius: 5rem;
  border: 5px solid rebeccapurple;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover{
  opacity:0.5;
  cursor: pointer;
  background-color:purple;
}


img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  gap: 1rem;
  object-fit: cover;
  
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;

}

#user-score, #comp-score {
    font-size: 4rem;
}


#msg {
 
  background-color: #081b31;
  color: aliceblue;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

.msg-container {
  margin-top: 5rem;
}

/* h2 {
  margin-top: 10px;
  background-color:red;
  display: inline;
} */